---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import Feature from '../components/Feature.astro';
import Products from '../components/Products.astro';
import Contact from '../components/Contact.astro';


---

<Base>
    <Hero />
    <section class="features">
        <div class="container">
            <Feature imgSrc="images/feature/tiendaesp.png" altText="Tienda Especializada" title="Tienda Especializada" description="Aquí podrás encontrar un mundo de sabores para la decoración de pasteles, fabricación de galletas, panadería artesanal, chocolatería y mucho más." />
            <Feature imgSrc="images/feature/asesoria.png" altText="Asesoría" title="Asesoría" description="Apoyamos su emprendimiento, brindándote el asesoramiento necesario con productos de calidad a los mejores precios." />
            <Feature imgSrc="images/feature/variedad.png" altText="Variedad" title="Variedad" description="Gran variedad de productos para sus proyectos culinarios. Trabajamos con los más altos estándares de calidad y confiabilidad." />
        </div>
    </section>
    <Products />
    <Contact />
</Base>
