<div id="contact-section" class="contacto">
    <div class="container">
        <h3>Contacto</h3>
        <p>Para más información, contáctanos en info@quillabakery.com</a></p>
    </div>
</div>

<style>
    .contacto h3{
    font-size: 1.1rem;
    font-weight: bold;
}
.contacto p{
    font-size: 1rem;
}
.contacto {
    padding: 2rem 0;
    text-align: center;
}
</style>