<div class="hero">
    <div class="container">
        <h2>Bienvenido a QUILLA's BAKERY</h2>
        <p>Descubre nuestra deliciosa selección de panes, pasteles y postres.</p>
    </div>
</div>


<style>
.hero {
    background-image: url('images/hero/fondopan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; 
    color: #ebf7f1;
    text-align: center;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.hero h2 {
    margin: 0 0 1rem 0;
    font-size: 2.2em; 
    font-weight: bold; 

}

.hero p {
    margin: 0 0 1rem 0;
    font-size: 1.5em; 
    font-weight: normal; 
}

</style>