<div class="productos-destacados">
    <div class="container">
        <h3>Productos Disponibles</h3>
        <div class="productos-grid">
            <div class="producto">
                <img src="images/products/pizza_perro.png" alt="Producto 1">
                <h4>Pizza perro</h4>
                <p>$5k</p>
                <a href="/productos" class="btn">Comprar</a>
            </div>
            <div class="producto">
                <img src="images/products/pizza_perro.png" alt="Producto 2">
                <h4>Pizza perro</h4>
                <p>$5k</p>
                <a href="/productos" class="btn">Comprar</a>
            </div>
            <div class="producto">
                <img src="images/products/pizza_perro.png" alt="Producto 3">
                <h4>Pizza Perro</h4>
                <p>$5k</p>
                <a href="/productos" class="btn">Comprar</a>
            </div>
            <div class="producto">
                <img src="images/products/pizza_perro.png" alt="Producto 3">
                <h4>Pizza Perro</h4>
                <p>$5k</p>
                <a href="/productos" class="btn">Comprar</a>
            </div>
        </div>
    </div>
</div>

