---
import { SignIn } from "auth-astro/components";
---

<div id="sign-up-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="form-container">
      <p class="title">Crear Cuenta</p>
      <form id="sign-up-form" class="form">
        <input
          type="text"
          class="input"
          placeholder="Nombre"
          name="name"
          required
        />
        <input
          type="email"
          class="input"
          placeholder="Email"
          name="email"
          required
        />
        <input
          type="password"
          class="input"
          placeholder="Password"
          name="password"
          required
        />
        <button onclick="" type="submit" class="form-btn">Crear Cuenta</button>
      </form>
      <div class="buttons-container">
        <SignIn provider="google" class="login-button google-login-button">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            version="1.1"
            x="0px"
            y="0px"
            class="google-icon"
            viewBox="0 0 48 48"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="#FFC107"
              d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12 c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24 c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
            ></path>
            <path
              fill="#FF3D00"
              d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657 C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
            ></path>
            <path
              fill="#4CAF50"
              d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36 c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
            ></path>
            <path
              fill="#1976D2"
              d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571 c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
            ></path>
          </svg>
          <span> Crear cuenta con Google</span>
        </SignIn>
      </div>
      <p class="sign-in-label">
        Ya tienes una cuenta? <span class="sign-in-link" id="sign-in-link"
          >Iniciar sesión</span
        >
      </p>
    </div>
  </div>
</div>

<style>
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 350px;
    max-width: 90%;
    animation: fadeIn 0.5s ease;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .close:hover,
  .close:focus {
    color: #000;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin: 10px 0 10px 0;
    font-size: 28px;
    font-weight: 800;
    color: #310e11;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #1a0709;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    color: #310e11;
  }
  .form-btn {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #310e11;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
  }

  .form-btn:hover {
    background-color: #1a0709;
  }

  .buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 1rem;
  }

  .google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    border: 2px solid #747474;
    border-radius: 5px;
    background-color: #fff;
    color: #310e11;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .google-login-button:hover {
    background-color: #f5f5f5;
  }

  .google-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .sign-in-label {
    text-align: center;
    margin-top: 1rem;
    color: #310e11;
  }

  .sign-in-link {
    color: #6e3338;
    cursor: pointer;
  }

  .sign-in-link:hover {
    color: #b9825f;
    text-decoration: underline;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>


<script>
  import { toast } from "react-toastify";
import { addCliente } from "./API/Conexion-api.js";

  document.addEventListener("DOMContentLoaded", function () {
    const getElement = <T extends HTMLElement>(id: string): T | null =>
      document.getElementById(id) as T | null;
    const getElements = <T extends HTMLElement>(
      selector: string
    ): NodeListOf<T> => document.querySelectorAll(selector) as NodeListOf<T>;

    const signUpModal = getElement<HTMLDivElement>("sign-up-modal");
    const signUpForm = getElement<HTMLFormElement>("sign-up-form");
    const loginButton = getElement<HTMLButtonElement>("login-button");
    const closeButtons = getElements<HTMLSpanElement>(".close");
    const signInLink = getElement<HTMLSpanElement>("sign-in-link");

    closeButtons.forEach((button) => {
      button.addEventListener("click", function () {
        if (signUpModal) {
          signUpModal.style.display = "none";
        }
      });
    });

    signInLink?.addEventListener("click", function () {
      if (signUpModal) {
        signUpModal.style.display = "none";
      }
      loginButton?.click();
    });

    window.addEventListener("click", function (event) {
      if (event.target === signUpModal) {
        if (signUpModal) {
          signUpModal.style.display = "none";
        }
      }
    });

    if (signUpForm) {
      signUpForm.addEventListener("submit", async function (event) {
        event.preventDefault();
        const formData = new FormData(signUpForm);
        const name = formData.get("name") as string;
        const email = formData.get("email") as string;
        const password = formData.get("password") as string;
        console.log(email)
        console.log(password)
        console.log(name)
        
        try {
        
          await addCliente(email, password, name);
          alert("Usuario creado con éxito");
          if (signUpModal) {
          signUpModal.style.display = "none";
          }
        } catch (error) {
          console.error("Error al crear el usuario:", error);
          alert("Hubo un error al crear la cuenta. Por favor, inténtalo de nuevo.");
        }
      });
    }
  });
</script>
