body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #310e11;
  color: #f7f3e9;
}

/* espacio de texto en pantalla */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

/* info */
.features {
  background-color: #ebf7f1;
  color: #3b3026;
  padding: 2rem 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.features .feature {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  vertical-align: top;
  text-align: center;
}

.features .feature img {
  max-width: 50px;
  margin-bottom: 1rem;
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.features .feature h4 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.5rem 0;
  padding-top: 0.8em;
}

.features .feature p {
  font-size: 0.9em;
  font-weight: normal;
  margin: 0.5rem 0;
}

footer {
  background-color: #310e11;
  color: #ebf7f1;
  padding: 1rem 0;
  text-align: center;
}

.productos-destacados {
  background-color: #b9825f;
  color: #3b3026;
  padding: 2rem 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.productos-destacados h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.productos-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.producto {
  background-color: #ebf7f1;
  color: #310e11;
  border: 1px solid #310e11;
  border-radius: 8px;
  padding: 1rem;
  max-width: 230px;
  max-height: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
}

.producto:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.producto h4 {
  padding-top: 1.5rem;
  font-size: 1em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.producto p {
  font-size: 1em;
}

.btn {
  display: inline-block;
  background-color: #6e3338;
  color: #ebf7f1;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
}

.btn-explorar {
  background-color: #6e3338;
  color: #ebf7f1;
  padding: 1rem 2rem;
  text-decoration: none;

  display: inline-block;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.btn-explorar:hover {
  background-color: #c59a25d7;
}

.btn:hover {
  background-color: #c59a25d7;
}

.search-bar {
  width: 15%;
  padding: 12px 20px;
  margin: 25px 10px 5px 82.75%;
  border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  color: #310e11;
}

.search-bar:focus {
  border-color: #b55e3c;
  box-shadow: 0 0 8px rgba(241, 189, 76, 0.6);
  outline: none;
}

.search-bar::placeholder {
  color: #310e11;
}

.search-filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  width: auto;
  flex-grow: 1;
  margin: auto auto auto 10px;
}

.contenedor {
  position: relative;
  padding-top: 6rem;
  display: flex;
}

.open-filter-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 12px 20px;
  background-color: #c59a25d7;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 24px;
}

.open-filter-button:hover {
  background-color: #e9c461d7;
}

.filter-nav {
  position: absolute;
  top: 100px; /* Ajusta esto según la altura del botón */
  right: 20px;
  width: 300px;
  background-color: #e9c461d7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.price-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  color: #310e11;
}

.price-filter label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #310e11;
}

.price-filter input[type="range"] {
  height: 20px;
  width: 100%;
  height: 0.5em;
  display: block;
  margin: 5em auto;
  accent-color: #310e11;
}


/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .features .feature {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }
}

/* Media query para pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 1024px) {
  .features .feature {
    width: 45%;
    margin-bottom: 1rem;
  }
}